<% configuration ||= @configuration %>
<%= div_for configuration do %>
<div class="special_item" style='height: 110px;'>
  <div class="special_text" style='width: 304px; height: 90px;'>
    <h3><a style="outline: medium none;" hidefocus="true" href="offers-details.html"><%= configuration.name %></a></h3>
    <div class="info_row"><span>Двигун:</span> Бензиновий 1.2</div>
    <div class="info_row"><span>Коробка передач:</span> <%= configuration.getKPPName %> (<%= configuration.count_p %>)</div>
    <div class="special_price"><%= configuration.price %> грн.</div>
  </div>
</div>
<% end %>
