<div class='header header_map'>

  <div id='header_map'></div>
  <script>
    $(window).ready(function ()
    {
      $('#header_map').gMap(
      {
        markers: [
        <% @dealers.each do |dealer| %>
          {
            latitude: <%= dealer.map_x %>,
            longitude: <%= dealer.map_y %>,
            title: '<%= dealer.name %>',
            html:"<strong><%= dealer.name %></strong><br><%= dealer.address %><br>Телефон: <%= dealer.phone %><br>Почта: <%= dealer.mail %><br><br><a href='/dealers/<%= dealer.id %>' class='btn btn_default'><span>Детальніше</span></a>",
            popup: false,
            icon: { image: 'http://billfoxusedcars.com/images/icons/gmap_icon.png',iconsize: [74, 88],iconanchor: [37,88],infowindowanchor: [0, 0] }
          },
        <% end %>
        ],
        zoom: 6,
        scrollwheel: false
      });
    });
  </script>
</div>

<div class="middle_row row_white search_row contact_form">
  <div class="container">

    <!-- contact form -->
    <form action="#" method="post" id="contactForm" class="clearfix ajax_form">

      <div class="form_col_1">
        <div class="row alignleft field_text">
          <label class="label_title">Ім’я:</label>
          <input type="text" name="yourname" id="name" value="" class="inputField required">
        </div>

        <div class="row alignleft field_text omega">
          <label class="label_title">Email:</label>
          <input type="text" name="email" id="email" value="" class="inputField required">
        </div>

        <div class="row field_select alignleft">
          <label class="label_title">Тема:</label>
          <select class="select_styled" name="subject" id="subject">
            <option value="val">Подяка</option>
            <option value="val">Пропозиція</option>
            <option value="val">Питання</option>
            <option value="val">Скарга</option>
          </select>
        </div>

        <div class="row field_text alignleft omega">
          <label class="label_title">Телефон:</label>
          <input type="text" name="phone" id="phone" value="" class="inputField">
        </div>
      </div>

      <div class="form_col_2">
        <div class="row">
          <label class="label_title">Повідомлення:</label>
          <textarea cols="30" rows="10" name="message" id="message" class="textareaField required"></textarea>
        </div>
      </div>

      <div class="form_col_3">
        <a onclick="document.getElementById('contactForm').reset();return false" href="#" class="link-reset">Очистити</a>
        <div class="row rowSubmit clearfix">
          <input type="submit" value="Відправити" id="send" class="btn btn-submit">
        </div>
      </div>
    </form>
    <!--/ contact form -->
  </div>
</div>
