<div class='header header_map' style='height: 100%'>
    <div class="dealer_contact">
      <div class="sb sb_orange">
        <div class="box_content">
        <%= form_tag({controller: "dealers", action: "mail"}, method: "post") do |f| %>
            <h3>Звязатися з дилером</h3>
            <%= @message %>
            <div class='row'>
              <div class='col col 1_2'>
                <label class="label_title">Ім’я:</label><br>
                <%= text_field(:mail, :name, class: "inputField required") %>
              </div>

              <div class='col col 1_2'>
                <label class="label_title">Email:</label><br>
                <%= text_field(:mail, :email, class: "inputField required") %>
              </div>
            </div>

            <div class='row'>
              <div class='col col 1_2'>
                <label class="label_title">Тема:</label><br>
                <%= select(:mail, :subject, ['Подяка', 'Пропозиція', 'Питання', 'Скарга'], {}, { :class => 'select_styled' }) %>
              </div>

              <div class='col col 1_2 full'>
                <label class="label_title">Телефон:</label><br>
                <%= text_field(:mail, :phone, class: "inputField required") %>
              </div>
            </div>

            <div class='row'>
              <div class='col col_1'>
                <label class="label_title">Повідомлення:</label><br>
                <%= text_area(:mail, :message, rows: 10, class: "inputField required") %>
              </div>
            </div>
            <div class='row'>
              <input type="submit" value="Відправити" id="send" class="btn btn-submit">
            </div>
          <div class="clear"></div>
        <% end %>
        </div>
      </div>
    </div>
    <div id='header_map'></div>


  <script>
    $(window).ready(function ()
    {
      $('#header_map').gMap(
      {
        markers: [
          {
            latitude: <%= @dealer.map_x %>,
            longitude: <%= @dealer.map_y %>,
            title: '<%= @dealer.name %>',
            html:"<strong><%= @dealer.name %></strong><br><%= @dealer.address %><br>Телефон: <%= @dealer.phone %><br>Почта: <%= @dealer.mail %>",
            popup: false,
            icon: { image: 'http://billfoxusedcars.com/images/icons/gmap_icon.png',iconsize: [74, 88],iconanchor: [37,88],infowindowanchor: [0, 0] }
          }
        ],
        zoom: 14,
        scrollwheel: false,
        latitude: <%= @dealer.map_x %>,
        longitude: <%= @dealer.map_y + 0.030 %>,
      });
    });
  </script>
</div>
