<!-- header -->
<div class="header header_thin" style="background-image:url(http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg)">

  <div class="header_title">
    <h1><span>STC</span> <%=@car.name %> - <%= @car.year %></h1>
  </div>

</div>
<!--/ header -->

<!-- middle -->
<div id="middle" class="full_width">
  <div class="container clearfix">

    <!-- content -->
    <div class="content">

      <div class="offer_details clearfix" style='padding-bottom: 25px;'>
        <!-- offer left -->
        <div class="offer_gallery" style='width: 580px;'>
          <div class="gallery_images" style='width: 580px;'>
            <div id="gallery_images">
              <div class="gallery_image_item" style='width: 580px;'>
                <img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt="">
                <a href="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" data-rel="prettyPhoto[gal]">
                  <span style='width: 580px;'>Exterior view - 20” rims and inteligent headlights <em class="ico_large"></em></span></a>
                </div>
                <div class="gallery_image_item" style='width: 580px;'>
                  <img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt="">
                  <a href="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" data-rel="prettyPhoto[gal]">
                    <span style='width: 580px;'>7G-Tronic Plus seven-speed automatic transmission <em class="ico_large"></em></span></a>
                  </div>
                  <div class="gallery_image_item" style='width: 580px;'>
                    <img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt="">
                    <a href="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" data-rel="prettyPhoto[gal]"></a> <!-- example without caption -->
                  </div>

                </div>
              </div>

              <div class="gallery_thumbs">
                <div id="gallery_thumbs">
                  <a href="#"><img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt=""></a>
                  <a href="#"><img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt=""></a>
                  <a href="#"><img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt=""></a>
                </div>
                <a href="#" class="prev" id="gallery_thumbs_prev"></a>
                <a href="#" class="next" id="gallery_thumbs_next"></a>
              </div>

              <script>
              jQuery(document).ready(function($) {
                function carGalleryInit() {
                  $('#gallery_thumbs').children().each(function(i) {
                    $(this).addClass( 'itm'+i );
                    $(this).click(function() {
                      $('#gallery_images').trigger('slideTo',[i, 0, true]);
                      $('#gallery_thumbs a').removeClass('selected');
                      $(this).addClass('selected');
                      return false;
                    });
                  });
                  $('#gallery_thumbs a.itm0').addClass('selected');

                  $('#gallery_images').carouFredSel({
                    infinite: false,
                    circular: false,
                    auto: false,
                    width: '100%',
                    scroll: {
                      items : 1,
                      fx : "crossfade"
                    }
                  });
                  $('#gallery_thumbs').carouFredSel({
                    prev : "#gallery_thumbs_prev",
                    next : "#gallery_thumbs_next",
                    infinite: false,
                    circular: false,
                    auto: false,
                    width: '100%',
                    scroll: {
                      items : 1
                    }
                  });
                }

                $(window).load(function() {
                  carGalleryInit();
                });
                var resizeTimer;
                $(window).resize(function() {
                  clearTimeout(resizeTimer);
                  resizeTimer = setTimeout(carGalleryInit, 100);
                });
              });
            </script>

          </div>
          <!--/ offer left -->
          <!-- offer right -->
          <div class="offer_aside" style='width: 330px;'>
            <div class="offer_price" style='margin-top: 15px; margin-bottom: 15px;'>
              <strong><%= @car.configurations.minimum(:price) %>-<%= @car.configurations.maximum(:price) %> грн.</strong><br>
            </div>

            <div class="special_offers" style='width: 330px; height: 417px;'>
              <h2>Комплектації</h2>


              <div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 330px; height: 365px; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
                <div style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; z-index: auto; height: 1885px; width: 330px;" id="special_offers">
                  <%= render :partial => @car.configurations.order('price DESC') %>
                </div>
              </div>
              <a style="outline: medium none; display: block; right: 0px;" hidefocus="true" class="prev" id="special_offers_prev" href="#"></a>
              <a style="outline: medium none; display: block; right: 0px;" hidefocus="true" class="next" id="special_offers_next" href="#"></a>
              <script>
                jQuery(document).ready(function($) {
                  function carSpecicalInit() {
                    var car_specical = $('#special_offers');
                    car_specical.carouFredSel({
                      prev : "#special_offers_prev",
                      next : "#special_offers_next",
                      infinite: true,
                      circular: false,
                      auto: false,
                      width: '100%',
                      direction: "down",
                      scroll: {
                        items : 1
                      }
                    });
                  }
                  $(window).load(function() {
                    carSpecicalInit();
                  });
                  var resizeTimer;
                  $(window).resize(function() {
                    clearTimeout(resizeTimer);
                    resizeTimer = setTimeout(carSpecicalInit, 100);
                  });
                });
              </script>
            </div>

          </div>
          <!--/ offer right -->
        </div>

        <!-- details tabs -->
        <div class="details_tabs">
          <ul class="tabs linked">
            <li><a href='#t_features_s' style="min-width: auto;padding: 0px 15px;"><span>Безпека</span></a></li>
            <li><a href='#t_features_t' style="min-width: auto;padding: 0px 15px;"><span>Технології</span></a></li>
            <li><a href='#t_tab3' style="min-width: auto;padding: 0px 15px;"><span>Двигун та трансмісія</span></a></li>
            <li><a href='#t_tab4' style="min-width: auto;padding: 0px 15px;"><span>Динамічні</span></a></li>
            <li><a href='#t_tab5' style='min-width: auto;padding: 0px 15px;'><span>Зовнішні</span></a></li>
            <li  id='map' style='padding-right: 0px;float:right; background: url("/images/tabs_line.gif") repeat-y scroll left center transparent;'>
              <a href='#t_dealers' style='min-width: auto;padding: 0px 15px;'>
                <span style='background: url("/images/icons/icon_location.png") no-repeat scroll right 0px transparent;
                padding-right: 25px;'>Дилери</span>
              </a>
            </li>

          </ul>


          <div id="t_features_s" class="tabcontent clearfix" style='padding:5px;'></div>
          <div id="t_features_t" class="tabcontent clearfix" style='padding:5px;'></div>

          <div id="t_tab3" class="tabcontent clearfix">
            <div class="col col_1_8">
              <h3>Interior Features 3</h3>
              <ul>
                <li>Full Leather Interior</li>
                <li>Central locking</li>
                <li>Automatic air conditioning</li>
              </ul>
            </div>
          </div>

          <div id="t_tab4" class="tabcontent clearfix">
            <div class="col col_1_8">
              <h3>Interior Features 4</h3>
              <ul>
                <li>Full Leather Interior</li>
                <li>Central locking</li>
                <li>Automatic air conditioning</li>
              </ul>
            </div>
          </div>

          <div id="t_tab5" class="tabcontent clearfix">
            <div class="col col_1_8">
              <h3>Interior Features 5</h3>
              <ul>
                <li>Full Leather Interior</li>
                <li>Central locking</li>
                <li>Automatic air conditioning</li>
              </ul>
            </div>
          </div>

          <div id="t_dealers" class="tabcontent clearfix" style='width: 100%; height:400px; padding:0px; padding-top:1px;'>
          </div>

          <div id="map" style='width: 100%; height:400px; display: none;'></div>
        </div>



      </div>
      <!--/ content -->
    </div>

  </div>
  <script>
    jQuery(window).ready(function($) { loadConfiguration(<%= @car.configurations.first.id %>); });
  </script>
